<
<body>
  <h2>Principales características de {{ character.name }}</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="col card">
          <img
            class="img-fluid"
            src="{{ character.image }}"
            alt="{{ character.name }}"
          />
        </div>
      </div>
      <div class="col-sm-6">
        <table class="table table-dark table-striped-columns">
          <thead>
            <tr>
              <th>Concepto</th>
              <th>Datos</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Planeta</td>
              <td>{{ character.planet }}</td>
            </tr>
            <tr>
              <td>Nacimiento</td>
              <td>{{ character.birth }}</td>
            </tr>
            <tr>
              <td>Muerte</td>
              <td>{{ character.death }}</td>
            </tr>
            <tr>
              <td>Especie</td>
              <td>{{ character.species }}</td>
            </tr>
          </tbody>
        </table>
        <button routerLink="/ships" type="button" class="btn btn-dark">
          Nave
        </button>
      </div>
    </div>
  </div>
</body>
