<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: #000000; font-weight: 700">
      Star Wars</a
    >
    <span class="form">
      <select
        class="form-control"
        #selectedLang
        (change)="switchLanguage(selectedLang.value)"
      >
        <option
          *ngFor="let language of translate.getLangs()"
          [value]="language"
          [selected]="language === translate.currentLang"
        >
          {{ language }}
        </option>
      </select>
    </span>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-danger" type="submit">Buscar</button>
      <button class="btn btn-danger" (click)="navigation.goBack()">
        Atras
      </button>
    </form>
  </div>
</nav>
