<body>
  <h2>{{ "planetaPrincipal" | translate }} {{ character.planetRegion }}</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="col card">
          <img
            class="img-fluid"
            src="{{ character.imagePlanet }}"
            alt="{{ character.name }}"
          />
        </div>
      </div>
      <div class="col-sm-6">
        <table class="table table-dark table-striped-columns">
          <thead>
            <tr>
              <th>{{ "concepto" | translate }}</th>
              <th>{{ "datos" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ "region" | translate }}</td>
              <td>{{ character.planetRegion }}</td>
            </tr>
            <tr>
              <td>{{ "sistema" | translate }}</td>
              <td>{{ character.planetSystem }}</td>
            </tr>
            <tr>
              <td>{{ "soles" | translate }}</td>
              <td>{{ character.planetSuns }}</td>
            </tr>
            <tr>
              <td>{{ "lunas" | translate }}</td>
              <td>{{ character.planetMoons }}</td>
            </tr>
          </tbody>
        </table>
        <button
          routerLink="{{ character.id }}/ships"
          type="button"
          class="btn btn-dark"
        >
          {{ "nave" | translate }}
        </button>
      </div>
    </div>
  </div>
</body>
